{% extends 'master01.html' %}

{% block contents %} 
{% for cam in cameras %}
<div class="showcamera">
<span class="camname">{{ cam.nickname }}</span> <span><a href="/zoom/{{ cam.nickname }}">[Zoom]</a></span> <span><a href="/timelapse/{{ cam.nickname }}">[Timelapse]</a></span> <span><a href="/strip/{{ cam.nickname }}">[Filmstrip]</a></span><br/>
<br/>
<img name="capture" id="{{ cam.nickname }}" src="/{{ cam.nickname }}/capture.jpg?dummy"/><span id="spanBlinker"></span> <br/>
</div>
{% endfor %}
<br/>
<br/>

<input type="range" min="3" max="60" value="{{ conf['default refresh sec'] }}" class="slider" id="sliderUpdateinSec" />&nbsp;<span id="spanSlider">{{ conf['default refresh sec'] }}</span> second(s) interval.


<script type="text/javascript">
  //AUTOREFRESH https://stackoverflow.com/questions/20877813/auto-refresh-images-in-html
window.onload = function() {
  // Update the current slider value (each time you drag the slider handle)
  document.getElementById("sliderUpdateinSec").oninput = function() {
    document.getElementById("spanSlider").innerHTML = this.value;
  } 

  //AUTOREFRESH
      function updateImage() {

          var slider = document.getElementById("sliderUpdateinSec");
          clearInterval(refreshtimer);
          refreshtimer = setInterval(updateImage, 1000 * slider.value);

          var captureS = document.getElementsByName("capture");
          for (let i = 0; i < captureS.length; i++) {
            //the "?time" is unnecessary but forces a refresh of the image (GET params ignored for this function)
            cap = captureS[i];
            cap.src = "/" + cap.id + "/capture.jpg?" + new Date().getTime();

          }
      }

      var refreshtimer = setInterval(updateImage, 3000);
  
}

</script>
{% endblock %}